@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans');
@import '../../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
.bg-light{
    background: white !important;
}
.bg-secondary{
   background-color:  rgb(237, 252, 248) !important;
}
section{
    padding: 3vh 0;
    overflow-x:hidden;
}
ul{
    list-style-type: none;
}
.container-fluid{
    width: 100vw;
}

@media screen and (min-width: 320px) {
    .j-description{
        color: black;
        font-size: 1rem;
    }
    .wrapper-section{
        padding:0;
    }
    .showcase-header{
        background-image: url('http://www.romangadgets.com/wp-content/uploads/revslider/home2/blue-background-hd-wallpapers11.jpg');
        background-size: cover;
        background-attachment: fixed;
    }
    .jumbotron{
        background-color: rgba(70, 142, 250, 0.3);
        padding: 1em 0;
        margin-bottom: 0;
        }
    .tagline{
        display: none;
    }

    .j-image{
        width: 0;
        height: 0;
    }
    .main-row{
        background-color: white;
    }
    h3{
        color: black;
        font-family: "PT Sans",sans-serif !important;
    }
    h4{
        font-family: "PT Sans",sans-serif !important;
    }
    .j-heading{
        font-size:3rem;
        margin: 2vh 0;
        text-transform: uppercase;
    }
    .row{
        padding:0;
    }
    .icon-section{
        display: none;
    }
    .icon-section-lg{
        display: none;
    }
    .display-lg{
        display: none;
    }
    .card{
        width: 18rem;
        border-radius:10px;
        padding: 1em 0;
        margin: 0 0 .5em 0;
    }
    .mentor-card{
        background:#fff;
        box-shadow:5px 5px 30px rgb(197, 197, 197);
        border-radius:10px;
        border-top: 2px solid orange;
        transition:0.5s;
    }
    .sneak-peak{
        display:none;
    }
    ::ng-deep .mat-step-header .mat-step-icon-selected {
        background-color: orange; 
     }
    .card .box {
        text-align:center;
        padding:0.5em;
        box-sizing:border-box;
        width:100%;
    }
    .card .box .img {
        width:100px;
        height:100px;
        margin:0 auto;
        border-radius:50%;
        overflow:hidden;
    }
    .card .box .img img {
        width:100%;
        height:100%;
    }
    .card .box h2 {
        font-size:1.2em;
        color:#262626;
        margin:20px auto;
    }
    .card .box h2 span {
        font-size:0.8em;
        background:orange;
        color:#fff;
        display:inline-block;
        padding:4px 10px;
        border-radius:15px;
    }
    .card .box p {
        color:#262626;
    }
    .card .box span {
        display:inline-flex;
    }
    .card .box ul {
        margin:0;
        padding:0;
    }
    .card .box ul li {
        list-style:none;
        float:left;
    }
    .card .box ul li a {
        display:block;
        color:#aaa;
        margin:0 10px;
        font-size:20px;
        transition:0.5s;
        text-align:center;
    }
    .card .box ul li:hover a {
        color:orange;
        transform:rotateY(360deg);
    }
    .review-img{
        display: none;
    }
      .reviews{
        color:black;
      }
      .reviews-section{
          height: 60vh;
          overflow-y: scroll;
          overflow-x: hidden;
      }
      .wrapper{
          border-bottom: 2px solid orange;
          padding:1em 0;
      }
     .highlight-card{
        background:#fff !important;
        width: 20rem;
        border: 1px dotted white !important;
        border-radius: 0;
    }
}
@media screen and (min-width: 768px) {
    .j-image{
        width: 25vw;
        height: 25vw;
    }
    .icon-section{
        display: flex;
    }
    .display-lg{
        display: block;
    }
    .course-preview-section{
        padding:0 5vw;
    }
    h3{
        margin-bottom: 5vh;
    }
    .card{
        width: 20rem;
    }
    .highlight-card{
        width: 20rem;
    }
    .mentor-card{
        width:18rem;
        margin: 0 auto;
    }
    .sneak-peak{
        display:flex;
    }
    .box .review-img{
        display: block;
        width:50px;
        height:50px;
        margin:0 auto;
        padding: 0 auto;
        border-radius:50%;
        overflow:hidden;
      }
    
      .box .review-img img {
        width:100%;
        height:100%;
      }

}
@media screen and (min-width: 1024px) {
    .j-image{
        width: 25vw;
        height: 25vw;
    }
    .icon-section-lg{
        display: flex;
    }

    .section-headers{
        font-size:2rem;
    }
    .tagline{
        display: block;
        font-size: 1.5rem;
    }
    .highlight-card{
        width: 20rem;
    }
    .mentor-card{
        width:18rem;
        margin: 0 auto;
    }

    .jumbotron{
        padding-bottom:5vh;
    }
}