
.click-notify-xurl {
  position: absolute;
  z-index: 999;
  top: 25%;
  left: 34%;
}
.ui.button.right.floated {
  text-align: right;
}
.ui.button.left.floated {
  text-align: left;
}
.example-container {
  width: 100%;
  background-color: white;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 1.25rem
}

.example-sidenav {
  padding-top: 1.5rem;
  width: 30%;
  background-color: white;
}

.example-sidenav::-webkit-scrollbar-thumb {
  background-color: #0e3997;
}

#icon_view_list {
  color: #0e3997;
  font-size: 40px;
}
#noteIcon {
  font-size: 40px;
  color: #0e3997;
}
#sessionlist {
  font-size: 40px;
  color: #0e3997;
}

ul li{
  margin-bottom: 0px;
  cursor: pointer;
}

ul{
  position: absolute;
  top: 0px;
  left: 2px;
  color: #0e3997;
  padding-left: 5px;
}

.icons a :hover {
  background-color: rgb(140, 181, 216);
}

#previous {
  background-color: #0e3997;
  font-size: 15px;
  padding-top: 0px;
}

.schedule {
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 4%;
}

.schedule mat-card-title {
  font-size: 15px;
  text-align: left;
}

.schedule mat-card-header {
  padding-left: 2px;
}

.schedule mat-card-footer {
  text-align: end;
}

.schedule mat-card-content {
  font-size: 15px;
}

.schedule mat-panel-title {
  font-size: 15px;
}
.mat-expansion-panel-header-description {
  display: block;
}
.mat-expansion-panel-header-description h6{
  text-align: center;
  font-size: 15px;
  margin: 0px 0px 5px 0px;
}
.mentor {
  float: right;
}
#list{
  display: none;
}
.mat-tab-body-content {
  height: 100%;
  overflow: hidden;;
}
#ann {
  padding-top: 2rem;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}
#player{
  max-width: 55rem;;
}
.container1 {
  margin: 1rem;
  width: 50%
}
@media only screen and (max-width: 760px) {
  ul {
    display: flex;
    position: absolute;
  }
  .example-sidenav-content {
    margin-top: 15vh;
  }
  .example-sidenav {
    width: 100%;
  }
  #list{
    display: block;
    color: #0e3997;
    font-size: 40px;
  }

}

