.click-notify-xurl {
  position: absolute;
  z-index: 999;
  top: 25%;
  left: 34%;
}
.ui.button.right.floated {
  text-align: right;
}
.ui.button.left.floated {
  text-align: left;
}
.example-container {
  width: 100%;
  background-color: white;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  /* padding-left: 6%; */
  justify-content: center;
  /* align-content: center; */
  align-items: center;
  /* position: relative; */
}

.example-sidenav {
  padding: 10px;
  width: 30%;
  background-color: white;
}

.example-sidenav::-webkit-scrollbar-thumb {
  background-color: #0e3997;
}

#icon_view_list {
  color: #0e3997;
  font-size: 40px;
}
#noteIcon {
  font-size: 40px;
  color: #0e3997;
}
#sessionlist {
  font-size: 40px;
  color: #0e3997;
}

ul li{
  margin-bottom: 0px;
  cursor: pointer;
}

ul{
  position: absolute;
  top: 0px;
  left: 2px;
  color: #0e3997;
  padding-left: 5px;
}

.icons a :hover {
  background-color: rgb(140, 181, 216);
}

#previous {
  background-color: #0e3997;
  font-size: 15px;
  padding-top: 0px;
}

.schedule {
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 4%;
}

.schedule mat-card-title {
  font-size: 15px;
  text-align: left;
}

.schedule mat-card-header {
  padding-left: 2px;
}

.schedule mat-card-footer {
  text-align: end;
}

.schedule mat-card-content {
  font-size: 15px;
}

.schedule mat-panel-title {
  /* font-weight: bold; */
  font-size: 15px;
}
#list{
  display: none;
}
@media only screen and (max-width: 760px) {
  ul {
    display: flex;
    position: absolute;
  }
  .example-sidenav-content {
    margin-top: 15vh;
  }
  .example-sidenav {
    width: 100%;
  }
  #list{
    display: block;
    color: #0e3997;
    font-size: 40px;
  }
}

