@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Carter+One%7CCabin+Sketch');
.ui.secondary.pointing.menu .ui.item.text-upper-case {
  text-transform: uppercase;
}

.anon-consumption-sec-menu {
  border-bottom: 2px solid rgba(34,36,38,.15);
}

.ui.grid>.header-height-before-login {
  height: 80px;
  justify-content: center;
  align-items: center;
}
.ui.grid {
  /* margin-top: -1rem;
  margin-bottom: -1rem;
  margin-left: -1rem; */
  /* margin-right: 0rem; */
}
#beforelogin {
  background-color: black;
}

#beforelogin button{
  color: white;
}
#header {
  background-color: black;
  width: auto;
  /* margin-right: -7vh; */
}
#menu{
  background-color: black;

}
#alarmIcon i{
  display: none;
}
#menu a{
  color: white;
}
#search {
  padding-left: 0px;
}
@media only screen and (min-width:320px )and (max-width: 760px) {
  /* #search {
    top: 6vh;
    left: -4vh;
} */
  #dropdown-menu-list-header {
    right: -14vh;
    width: 6vh;
}
  #alarmIcon i{
    display: none;
  }
  #logo {
    left: 4vh;
  }
  #menu{
    /* padding-top: 6vh; */
    /* margin-right: -1  rem;
    margin-left: 0px; */
}
#header {
  background-color: black;
}
}

