@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Carter+One%7CCabin+Sketch');


/* dayBase: 30px; */
.calendar {
  display: block;
  width: 300px;
  margin: 0 auto;
}
.p4{
  font-weight: bold;
}
.calendar * {
  box-sizing: border-box;
}
.calendar .calendar-navs {
  background-color: cloud;
}
.calendar .month-nav {
  padding: initial;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.2rem;
}
.calendar .year-nav {
  padding: initial;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Montserrat';
  padding-bottom: 0.2rem;
}
.calendar .month-grid .day-names {
  display: flex;
  flex-direction: row;
  background: white;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: lightgray;
}
.calendar .month-grid .weeks {
  display: flex;
  flex-direction: column;
}
.calendar .month-grid .week {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}
.calendar .month-grid .week-date, .calendar .month-grid .day-name {
  text-align: center;
  padding: white;
  display: inline-table;
      width: -webkit-fill-available;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-left: auto;

}
.calendar .month-grid .week-date {
  height: 30px;
  position: relative;
}
.calendar .month-grid .week-date .date-text {
  z-index: 10;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}
.calendar .month-grid .week-date::after {
  content: '';
  height: 27px;
  width: 27px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: 150ms linear, color 150ms linear;
  z-index: 1;
}
.calendar .month-grid .week-date.enabled {
  cursor: pointer;
}
.calendar .month-grid .week-date.enabled:hover{
  background-color:rgb(191, 209, 221);
  border-radius: 3%
}
.calendar .month-grid .week-date.selected {
  color: white;
}
.calendar .month-grid .week-date.selected:after {
  background-color: teal;
}
.calendar .month-grid .week-date.selected:hover:after {
  background-color: teal;
}
.calendar .month-grid .week-date.disabled {
  color: gainsboro;
}
.calendar .month-grid .today {
  font-weight: bolder;
  color: blue;

}
.border{
border: 1%;
}

/* #icon {
  position: absolute;
    right: 0px;
    top: 0px;
} */
