@import "~bootstrap/dist/css/bootstrap.css";
.disableIcon {
    pointer-events: none;
    opacity: 0.45;
}


#search-input-container{

}

@media only screen and (min-width:320px )and (max-width: 760px){
  #search-input-container {
    margin-top: 6%;
    padding-top: 10%;
  }
}
