@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css?family=Hind:400,700");
/* .firma-ara{
  padding-bottom: 100px;
  padding-top: 100px;
}
.form-arka-plan{
  background-image: url("https://researchgirltoday.files.wordpress.com/2015/07/80ryzdj8ue.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
.acik-renk-form{
  background: rgba(255, 255, 255, 0.58);
}
.siyah-cerceve{
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
} */
.ui.styled.accordion.align-content {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 16px 13px 16px 17px;
  width: 100%;
}

#searchIcon{
  color: orange;
  font-size: initial;
  right: 1.5rem;
}

.trending_courses {
  padding: 2rem;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../../../../../../../tenant/sunbird/images/student-849825__340.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  -webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  /* background: url("../img/bg-masthead.jpg") no-repeat center center; */
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}



