@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css?family=Hind:400,700");
.firma-ara{
  padding-bottom: 100px;
  padding-top: 100px;
}
.form-arka-plan{
  background-image: url("https://researchgirltoday.files.wordpress.com/2015/07/80ryzdj8ue.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
.acik-renk-form{
  background: rgba(255, 255, 255, 0.58);
}
.siyah-cerceve{
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.ui.styled.accordion.align-content {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 16px 13px 16px 17px;
  width: 100%;
}

.trending_courses {
  padding: 3rem;
}
