<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="float-right">
        <mat-form-field>
          <mat-select placeholder="Select your view" [formControl]="views" multiple>
            <mat-option *ngFor="let view of viewsList" [value]="view">{{view}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!--filerStart -->
  <!-- <div class="container1">
    <div class="row">
      <div class="col-md-12">
        <div id="filter-panel" class="collapse filter-panel" *ngIf="sessionsList.length>0">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="">
                <label class="filter-col" style="margin-right:0;" for="pref-perpage">Session Title</label>
                <input [(ngModel)]="title" type="text" class="form-control input-sm" style="margin-right: 1rem;"
                  placeholder="Title" />
              </div>
              <div class="">
                <label class="filter-col" style="margin-right:0;" for="pref-search" placeholder="name">Course Name</label>
                <input [(ngModel)]="course" type="text" class="form-control input-sm" placeholder="course name" style="margin-right: 1rem;"
                  id="pref-search">
              </div>
              <div class="">
                <label class="filter-col" style="margin-right:0;" for="pref-orderby">Batch</label>
                <select [(ngModel)]="batch" id="pref-orderby" class="form-control" style="margin-right: 1rem;"
                  placeholder="select batch">
                  <option [value]="session.id" *ngFor="let session of sessionsList">{{session.name}}</option>
                </select>
              </div>
              <div class="">
                <label class="filter-col" style="margin-right:0;" for="pref-orderby">Status</label>
                <select [(ngModel)]="status" id="pref-orderby" class="form-control" style="margin-right: 1rem;"
                  placeholder="Session status">
                  <option value="draft">Draft</option>
                  <option value="published">Published</option>
                </select>
              </div>
              <div class="">
                <label class="filter-col" style="margin-right:0;" for="pref-orderby">Completion</label>
                <select [(ngModel)]="completion" name="completion" id="pref-orderby" class="form-control" style="margin-right: 1rem;"
                  placeholder=" status">
                  <option value="1">Completed</option>
                  <option value="0">Not Completed</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary mt-2" data-toggle="collapse" data-target="#filter-panel">
        <span class="glyphicon glyphicon-cog"></span> Session Filters
      </button>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-12">

      <div class="alert alert-dismissible alert-primary">
        <strong> List of Sessions </strong>
      </div>
      <table class="ui upForReviewTable table">
        <thead>
          <tr>
            <th class="four wide UpReviewTableHeader">Session
            </th>
            <th class="two wide UpReviewTableHeader">Course
            </th>
            <th class="two wide UpReviewTableHeader" *ngIf="view('startDate')">StartDate
            </th>
            <th class="two wide UpReviewTableHeader" *ngIf="view('endDate')">EndDate
            </th>
            <th class="two wide UpReviewTableHeader" *ngIf="view('time')">Time
            </th>
            <th class="two wide UpReviewTableHeader" *ngIf="view('status')">Status
            </th>
            <th class="two wide UpReviewTableHeader">Delete
            </th>
            <th class="two wide UpReviewTableHeader">Update
            </th>
            <th class="two wide UpReviewTableHeader" *ngIf="view('attendance')">Attendance
            </th>
            <th class="two wide UpReviewTableHeader">Learning Material
            </th>
          </tr>
        </thead>
        <tbody>
          <tr in-view-item class="UpForReviewListHover cursor-pointer" *ngFor="let session of sessionsList">
            <td (click)="openSession(session)">
              <!-- | filterSession:title:course:batch:status:completion -->
              <h5 class="ui image header">
                <div class="content ">
                  <div class="UpReviewHeader"> {{ session?.sessionDetails?.sessionTitle}}</div>
                  <div class="UpReviewSubHeader"> {{session?.name}}
                  </div>
                </div>
              </h5>
            </td>
            <td>
              <h5 class="ui image header">
                <div class="content ">
                  <div class="UpReviewSubHeader">{{session?.courseAdditionalInfo?.courseName}}</div>
                </div>
              </h5>
            </td>
            <td *ngIf="view('startDate')">
              <h5 class="ui image header">
                <div class="content">
                  <div class="UpReviewSubHeader"> {{session?.sessionDetails?.sessionStartDate | date}}
                  </div>
                </div>
              </h5>
            </td>
            <td *ngIf="view('endDate')">
              <h5 class="ui image header">
                <div class="content">
                  <div class="UpReviewSubHeader"> {{session?.sessionDetails?.sessionEndDate | date}}
                  </div>
                </div>
              </h5>
            </td>
            <td *ngIf="view('time')">
              <h5 class="ui image header">
                <div class="content">
                  <div class="UpReviewSubHeader"> {{session?.sessionDetails?.sessionTime}}
                  </div>
                </div>
              </h5>
            </td>
            <td *ngIf="view('status')" class="UpForReviewStatusOrange"> <button class="btn btn-primary" (click)="publish(session)"
                [disabled]="session?.sessionDetails?.status==='published'">{{session?.sessionDetails?.status}}</button></td>
            <td>
              <i class="trash large icon" (click)="deleteSession(session)">
              </i>
            </td>
            <td>
              <i class="fa fa-refresh" mat-raised-button (click)="openDialog(session)" aria-hidden="true"></i>
            </td>
            <td *ngIf="view('attendance')">
              <div class="content">
                <a class="item" [routerLink]="['/workspace/content/sessions' ,session.sessionDetails?.sessionId ]">View</a>
              </div>
            </td>
            <td>
              <div class="content">
                <a class="item" [routerLink]="['/workspace/content/sessions/addMaterial' , session.sessionDetails?.sessionId]">Add</a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<router-outlet> </router-outlet>