<h3 class="text-secondary" style="text-align: center">Create New Batch</h3>
<div class="example-container">
  <mat-card style="width: 100% !important;">
<mat-card-content>
    <mat-form-field style="width: 100% !important">
      <!-- <label>Name of Batch</label> -->
      <input matInput placeholder="Name of Batch">
    </mat-form-field>
<br>
    <mat-form-field  style="width:100% !important">
        <!-- <label>Description of Batch</label> -->
      <textarea matInput placeholder="Description of Batch"></textarea>
    </mat-form-field>
<br>
      <mat-form-field style="width: 45% !important">
        <input matInput [matDatepicker]="picker1" placeholder="Choose Start Date" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      &nbsp;&nbsp;
      <mat-form-field style="width:45% !important">
        <input matInput [matDatepicker]="picker2" placeholder="Choose End Date" [formControl]="serializedDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

<br>
    <mat-form-field  style="width: 100% !important">
        <!-- <label>Add Mentors</label> -->
        <mat-select placeholder="Add Mentor">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
 <br>
      <mat-form-field  style="width: 100% !important">
          <!-- <label>Add Members</label> -->
      <mat-select placeholder="Add Member">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer>
    <div class="container">
      <div class="row">
        <!-- <div class="col">
      <button mat-button (click)="onNoClick()"style="
      width: inherit;
      font-size: 15px;
      height: 6vh;
      background: black;
      color: white;
  ">Create Session</button>
  </div> -->
  <div class="col">
      <button mat-button (click)="onNoClick()" style="
      height: 6vh;
      font-size: 15px;
      width:inherit;
      background: black;
      color: white;
  ">Create Batch</button>
    </div>
  </div>
  </div>
  </mat-card-footer>
    </mat-card>
  </div>
