@import '../../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

.all-batches-section{
    padding:0 0vw;
}
.grid {
  height:70vh !important;
  overflow-y: scroll;
}
.wrapper {
    width: 300px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 3px 10px 0px rgb(39, 39, 39);
}
.example-header-image{
    background-image: url('https://i.pinimg.com/736x/2f/8c/43/2f8c431cc7e7ef1dda2f2deebbcff3af--pastel-color-background-pastel-background-iphone.jpg');
    background-size: cover;
}
.align-content{
    text-align: center;
}
/* .example-container {
  display: flex;
  flex-direction: column;
}
.example-container > * {
  width: 100%;
} */


@media only screen and (max-width:  640px) {
  /* .example-container {
    height: 50%;
    width:100%;
  } */
  .wrapper {
    max-width: 255px;
    margin-bottom: 8vh;
  }

}


@media only screen and (min-width:  1000px) {
.wrapper{
max-width: 300px;
margin-left: 1vh;
margin-bottom: 1vh;
}

}

